
.tsdbstats-table__table {
    overflow: auto;
    width: 100%;
    min-height: 100px;
    max-height: 240px;
    padding: 5px;
    border: gray;
    background-color: white;
}

.tsdbstats-table {
    th, td{ border-top: none; }

    .table > thead > tr > th {
        border-bottom: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.16);
    }

    .help-text {
        padding: 10px 16px;
        background: rgba(var(--sys-center-channel-color-rgb), 0.04);
        color: var(--sys-center-channel-color);
    }
}
